@model IEnumerable<BeanScene.Models.Reservation>

@{
    ViewData["Title"] = "Reservations";
}


<h2>Reservations</h2>

<a asp-action="Create" class="btn btn-success">Create New Reservation</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Person Name</th>
            <th>Start Time</th>
            <th>Tables</th>
            <th>Duration (minutes)</th>
            <th>Pax</th>
            <th>Notes</th>
            <th>Statu</th>
            <th>Sitting</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.Person.Name</td>
                <td>@reservation.Start.ToString("g")</td>
                <td>
                    <!-- List each table associated with this reservation -->
                    @foreach (var table in reservation.Tables)
                    {
                        <span>@table.Number</span><br />
                    }
                </td>
                <td>@reservation.Duration</td>
                <td>@reservation.Pax</td>
                <td>@reservation.Notes</td>
                <td>@reservation.ReservationStatus.Name</td>
                <td>@reservation.Sitting.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@reservation.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@reservation.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


